body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
}

p {
    white-space: pre-wrap;
}

.pfp {
    width: 16px;
    height: 16px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

textarea {
    width: 100%;
    resize: vertical;
}

.upvoted {
    background: green;
    color: white;
}

#link {
    width: 100%;
}

.image {
    width: 100%; /* or set a fixed width like 300px */
    height: auto; /* or a fixed height */
    overflow: hidden; /* hides any overflow if image is larger than the container */
    position: relative;
}

img {
    width: 100%; /* makes the image fill the width of the parent div */
    height: auto; /* keeps the aspect ratio intact */
    display: block; /* removes any spacing below the image */
}