body {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

.highlight {
    background-color: yellow;
}

.preformatted {
    white-space: pre-wrap;
}

.reply > textarea {
    width: 100%;
    min-height: 60px;
}

textarea {
    width: 100%;
    resize: vertical;
    min-height: 200px;
    max-height: 600px;
}
