body {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9rem;
}

p {
    white-space: pre-wrap;
}

.pfp {
    width: 16px;
    height: 16px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

textarea {
    width: 100%;
    resize: vertical;
}