<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Forum</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
<body>
<header>
    <div class="container" style="display: flex; justify-content: space-between">
    	<div class="left">
	    	<a href="/posts">Posts</a>
	    	<a href="/post_create">Create Post</a>
	    </div>
    	<div class="right">
			{% if current_user.is_authenticated %}
			<a href="/notifications">notifications ({{current_user.notifications|length}})</a>
			<a href="/user/{{current_user.id}}">{{current_user.username}}</a>
			<a href="/logout">Logout</a>
			{% else %}
			<a href="/login">Login</a>
			{% endif %}
	    </div>
    </div>
</header>
<main>
	<hr>
    {% block content %} 
    {% endblock %} 
</main>
    <script>
	document.addEventListener("DOMContentLoaded", function() {

	    document.querySelectorAll('.reply-btn').forEach(function(button) {
	        button.addEventListener('click', function() {
	            
	            const existingForms = document.querySelectorAll('.reply-form');
	            existingForms.forEach(function(form) {
	                form.remove();
	            });

	            const formTemplate = document.getElementById('reply-form-template').innerHTML;
	            
	            const replyFormDiv = document.createElement('div');
	            replyFormDiv.classList.add('reply-form');
	            replyFormDiv.innerHTML = formTemplate;

	            const postId = this.getAttribute('data-post-id');
	            const rootId = this.getAttribute('data-root-id');

	            const pidInputField = replyFormDiv.querySelector('input[name="pid"]');
	            pidInputField.value = postId;

	            const ridInputField = replyFormDiv.querySelector('input[name="rid"]');
	            ridInputField.value = rootId;
	            
	            const postDiv = document.getElementById(postId);
	            postDiv.appendChild(replyFormDiv);
	        });
	    });

	    document.querySelectorAll('.report-btn').forEach(function(button) {
	        button.addEventListener('click', function() {
	            
	            const existingForms = document.querySelectorAll('.report-form');
	            existingForms.forEach(function(form) {
	                form.remove();
	            });

	            const formTemplate = document.getElementById('report-form-template').innerHTML;
	            
	            const reportFormDiv = document.createElement('div');
	            reportFormDiv.classList.add('report-form');
	            reportFormDiv.innerHTML = formTemplate;

	            const postId = this.getAttribute('data-post-id');

	            const inputField = reportFormDiv.querySelector('input[name="reported_post"]');
	            inputField.value = postId;

	            const postDiv = document.getElementById(postId);
	            postDiv.appendChild(reportFormDiv);
	        });
	    });

	});
    </script>
</body>
</html>
