<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>main page</title>
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
<body>
<header>
    <div class="container" style="display: flex; justify-content: space-between">
    	<div class="left">
    	<a href="/post/create">Create Post</a>
    	<a href="/posts">Posts</a>
	    </div>
    	<div class="right">
    		{% set auth = request.cookies.get('auth') %}    		
		    {% if auth %}
		    	<a href="/user/posts/{{ auth }}">{{ auth }}</a>
		        <a href="{{ url_for('signout') }}">Sign Out</a>
		    {% else %}
		        <a href="{{ url_for('signup') }}">Sign Up</a>
		        <a href="{{ url_for('signin') }}">Sign In</a>
		    {% endif %}
		</div>
    </div>
</header>
<main>
	<hr>
    {% block content %} 
    {% endblock %} 
</main>
</body>
</html>
