<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Forum</title>
		<link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
	    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}">
	</head>
<body>
<header>
    <div class="container" style="display: flex; justify-content: space-between">
    	<div class="left">
	    	<a href="/posts">Posts</a>
	    	<a href="/post_create">Create Post</a>
	    </div>
    	<div class="right">
			{% if current_user.is_authenticated %}
			<a href="/notifications">notifications ({{current_user.notifications|length}})</a>
			<a href="/user/{{current_user.id}}">{{current_user.username}}</a>
			<a href="/logout">Logout</a>
			{% else %}
			<a href="/login">Login</a>
			{% endif %}
	    </div>
    </div>
</header>
<main>
	<hr>
    {% block content %} 
    {% endblock %} 
</main>
    <script>
    </script>
</body>
</html>
