{{ post.content }}

{% if auth %}
<a href="/post/update/{{post.post_id}}">update</a>

<form action="/post/{{post.post_id}}/comment" method="post">
<input type="text" name="content">
<button type="submit">Create Comment</button>
</form>
{% endif %}

<div class="comments" style="margin-left: 50px">
{% if (post.replies is defined) and post.replies %}
    {% for comment in post.replies %}
        {% with post=comment %}
            {% include "comments.html" %}
        {% endwith %}
    {% endfor %}
{% endif %}
</div>
