<div class="post" id="{{post.post_id}}">
    <span>
        <a href="/user/posts/{{ post.username }}">{{ post.username }}</a>
        <span class="author" style="color: grey;"> posted on {{post.created_at}}</span>
    </span>
    <div class="preformatted">{{ post.content }}</div>
    <div class="container" style="display: flex; justify-content: space-between">
        <span>
            {% if post.source_id is none %}
            <a href="/post/versions/{{post.post_id}}">versions {{ post.post_id }} </a>
            {% else %}
            <a href="/post/versions/{{post.source_id}}">versions {{ post.source_id }} </a>
            {% endif %}
            <a href="#{{post.post_id}}">share</a>
            {% if auth is defined and auth == post.username %}
            <a href="/post/update/{{post.post_id}}">update</a>
            {% endif %}
        </span>
        <span>
            {% if post.post_id == post.root_id %}
            [ {{ post.comment_count }} comments ]<br>
            {% endif %}
        </span>
    </div>
</div>

{% if auth is defined %}
<form class="reply" action="/post/{{post.post_id}}/comment" method="post">
<input name="view" type="hidden" value="{{request.path}}"/>
<textarea name="content"></textarea>
<button type="submit">Create Comment</button>
</form>
{% endif %}