<div class="post" id="{{post.post_id}}">
    {{ post.content }}
    <br>
    <div class="author" style="color: grey;">by 
        <a href="/user/posts/{{ post.username }}">{{ post.username }}</a>
    </div>
    <a href="/post/versions/{{post.post_id}}">versions</a>
    <a href="/post_paged/{{post.post_id}}">paged_view</a>
    <a href="#{{post.post_id}}">share</a>

    {% if auth %}
    <a href="/post/update/{{post.post_id}}">update</a>
    {% endif %}
</div>

{% if auth %}
<form action="/post/{{post.post_id}}/comment" method="post">
<input type="text" name="content">
<button type="submit">Create Comment</button>
</form>
{% endif %}