{% extends "base.html" %}
{% block content %}

	{% for post in posts %}
		{% with post=post, auth=request.cookies.get('auth') %}
		    {% include "just_post.html" %}
	    	<a href="/post/{{post.post_id}}">smart_view [ {{post.comment_count}} ]</a>
	    	<a href="/post_paged/{{post.post_id}}">paged_view [ {{post.comment_count}} ]</a>
		{% endwith %}
		<hr>
	{% endfor %}
	
	{% if page_count == 0 %}
		no posts yet
	{% else %}
		page: {{ pagenum }}/{{ page_count }}<br>
	    {% for page in page_range %}
	    	{% if page == pagenum %}
	        <a href="/posts?page={{page}}">[ {{page}} ]</a>
	    	{% else %}
	        <a href="/posts?page={{page}}">{{page}}</a>
	    	{% endif %}
	    {% endfor %}
    {% endif %}

{% endblock %}
