{% extends "base.html" %}
{% block content %}

	<div style="background: lightgrey">
		{% with post=posts[0], auth=request.cookies.get('auth') %}
		    {% include "just_post.html" %}
		{% endwith %}
		<hr>
	</div>

	<div class="replies" style="margin-left: 50px;">
	{% for post in posts[1:] %}
		{% if post is not none %}
	        {% with post=post, auth=request.cookies.get('auth') %}
	            {% include "comments.html" %}
	        {% endwith %}
		{% endif %}
		<hr>
	{% endfor %}
	</div>

	page: {{ pagenum }}/{{ page_count }}<br>
    {% for page in page_range %}
        <a href="/post_paged/{{root_id}}?page={{page}}">{{page}}</a>
    {% endfor %}

{% endblock %}
