{% extends "base.html" %}
{% block content %}

	<div class="posts">
	{% for post in posts %}
		<div class="post" id="{{post.post_id}}">
			{{ post.content }}
		    <div class="author" style="color: grey;">by 
		    	<a href="/user/{{ post.username }}">{{ post.username }}</a>
		    </div>
		    <a href="/post/versions/{{post.post_id}}">versions</a>
			<a href="#{{post.post_id}}">share</a>
		</div>

		{% if request.cookies.get('auth') %}
		<form action="/post/{{post.post_id}}/comment" method="post">
		<input type="text" name="content">
		<button type="submit">Create Comment</button>
		</form>
		{% endif %}

		<hr>
	{% endfor %}
	</div>

	page: {{ pagenum }}/{{ page_count }}<br>

    {% for page in page_range %}
        <a href="/post_paged/{{root_id}}?page={{page}}">{{page}}</a>
    {% endfor %}

{% endblock %}
