{% extends "base.html" %}
{% block content %}

	user: {{ userinfo.username }}, notifications: {{ userinfo.notifications_count }}

	<hr>

	{% for post in posts %}
		notification about <a href="/post/{{post.root_id}}#{{post.post_id}}">post {{post.root_id}} / {{post.post_id}}</a> from user <a href="/user/{{post.username}}">{{ post.username }}</a>
		<hr>
	{% endfor %}

	{% if page_count == 0 %}
		no notifications
	{% else %}
		page: {{ pagenum }}/{{ page_count }}<br>
	    {% for page in page_range %}
	    	{% if page == pagenum %}
	        <a href="/user/posts/{{username}}?page={{page}}">[ {{page}} ]</a>
	    	{% else %}
	        <a href="/user/posts/{{username}}?page={{page}}">{{page}}</a>
	    	{% endif %}
	    {% endfor %}
	{% endif %}

{% endblock %}
