{% extends "base.html" %}
{% block content %}

	-- user posts: {{username}} <a href="/user/posts/{{username}}">posts</a> <a href="/user/comments/{{username}}">comments</a> --
	<hr>

	{% for post in posts %}
		{% with post=post, auth=request.cookies.get('auth') %}
		    {% include "just_post.html" %}
	    	<a href="/post/{{post.post_id}}">smart_view [ {{post.comment_count}} ]</a>
	    	<a href="/post_paged/{{post.post_id}}">paged_view [ {{post.comment_count}} ]</a>
		{% endwith %}
		<hr>
	{% endfor %}

	page: {{ pagenum }}/{{ page_count }}<br>
    {% for page in page_range %}
        <a href="/user/posts/{{username}}?page={{page}}">{{page}}</a>
    {% endfor %}

{% endblock %}
