{% extends "base.html" %}
{% block content %}

	-- user comments: {{username}} <a href="/user/posts/{{username}}">posts</a> <a href="/user/comments/{{username}}">comments</a> --
	<hr>

	{% for post in posts %}

		<div class="post" id="{{post.post_id}}" style="background: lightgrey">
			{{ post.content }}
		    <div class="author" style="color: grey;">by 
		    	<a href="/user/posts/{{ post.username }}">{{ post.username }}</a>
		    </div>
		    <a href="/post/versions/{{post.post_id}}">versions</a>
			<a href="#{{post.post_id}}">share</a>
		</div>

		<div class="comments" style="margin-left: 50px">
		{% if (post.replies is defined) and post.replies %}
		    {% for comment in post.replies %}
		        {% with post=comment %}
		            {% include "comments.html" %}
		        {% endwith %}
		    {% endfor %}
		{% endif %}
		</div>



<!--
		{% if post is not none %}
	        {% with post=post, auth=request.cookies.get('auth') %}
	            {% include "comments.html" %}
	        {% endwith %}
		{% endif %}
-->
		<hr>

	{% endfor %}

	page: {{ pagenum }}/{{ page_count }}<br>

    {% for page in page_range %}
        <a href="/user/comments/{{username}}?page={{page}}">{{page}}</a>
    {% endfor %}

{% endblock %}
