{% extends "base.html" %}
{% block content %}

<h4>VERSIONS</h4>
<hr>
<!--
to not make unnecessary just_post_no_comment.html only for versions view I just never give auth arg further - comment field will never be available
-->

	{% for post in posts %}
		{% with post=post %}
		    {% include "just_post.html" %}
		{% endwith %}
		<hr>
	{% endfor %}

	page: {{ pagenum }}/{{ page_count }}<br>
    {% for page in page_range %}
        <a href="/post/versions/{{post_id}}?page={{page}}">{{page}}</a>
    {% endfor %}

{% endblock %}
